.nav-link {
    @apply text-white p-5 font-semibold transition duration-300 ease-in-out
    hover:bg-secondary hover:bg-opacity-10 hover:border-secondary hover:border-b
    dark:hover:bg-white dark:hover:bg-opacity-10 dark:hover:border-white dark:hover:border-b dark:text-white
}
    
.active-nav-item {
    @apply border-b-2 border-secondary bg-secondary bg-opacity-20
    dark:border-secondary dark:text-white dark:bg-white dark:bg-opacity-20
}
  
.navbar {
    @apply sticky top-0 z-10 bg-transparent backdrop-filter backdrop-blur-lg
}